header{
  position:fixed;
  height:100px;
  width:100%;
  z-index:2;
  transition: all .5s ease-out;
  background-color:rgba(0,0,0,0);

  &.scrolling{
    background-color:rgba(0,0,0,.25);
    height:75px;
    #header-logo{
      width:75px;height:75px;
      margin:0 auto;
    }
  }

}
#header-logo{
  width:auto;
  width:125px;height:125px;
  background-color:white;
  margin:10px auto;
  box-shadow: 2px 2px 20px rgba(0,0,0,.4);
  transform:scale(1);
  transition:all .5s ease-in-out;
  &:hover{
    transform:scale(1.1);
    background-color:black;
  }
}
