#post-header{
  margin-bottom:20px;
  .bcg{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:after{
      content:' ';
      position:absolute;
      width:100%;
      height:100%;
      background:rgba(20,20,20,.7);
    }
  }
}
#post-content{
  padding-bottom:80px;
  font-size:16px;
  line-height:1.4;
  h2{
    margin:20px 0;
  }
  h3{
    margin:20px 0;
  }
  img.alignleft{
    float: left;
    vertical-align: top;
    margin-right: 10px;
  }
  blockquote{
    padding:20px;
    font-style:italic;
    color:$grey-dark;
  }
}
